<div class="jumbotron center">
<h2>Bine ai venit! Bienvenido! Bienvenue! ברוכים הבאים<h2><h3>Support OrphanBoy's team and get the latest info <%= link_to "Sign Up", "#" , class: "btn btn-danger btn-lg" %> </h3>
</div>
	
<h2>My name is Ari, and this is OrphanBoy's Code the Dream app!<h2>

<h5>If you love justice, rugby, beagles and camping you're in the right place! Glad you're here.<h5>

 <h5>This is a work in progress--thanks for visiting</h5>






<h4>Team Members <%= link_to "Login", "#" , class: "btn btn-primary btn-md" %><h4>

