<h1>Bine ai venit! Bienvenido! Bienvenue! ברוכים הבאים<h1>

	<h3>My name is Ari, and this is the BeagleBoys Code the Dream app! Woohoo!<h3>

<h3>If you love rugby, beagles and camping you're in the right place! Glad you're here.<h3>

 <h3>This is a work in progress--thanks for visiting</h3>

<p>Sign up and support the BeagleBoys team <%= link_to "here", "#" %>.</p>
