<div class="jumbotron center">
<h2>Bine ai venit! Bienvenido! Bienvenue! ברוכים הבאים<h2><h3>Support OrphanBoy's team and get the latest info<h3>
<% if user_signed_in? %>
          <%#do something%>
     <% else %>
       <p>
      <h3><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %> </h3>
      </p>
   <% end %> 
</div>
	
<h2>My name is Ari, and this is OrphanBoy's Code the Dream app!<h2>

<h5>If you love justice, rugby, beagles and camping, you're in the right place! Glad you're here.<h5>

 <h5>This is a work in progress--thanks for visiting.</h5>




<% if user_signed_in? %>
          <%#do something%>
     <% else %>
       <p>

<h4>Team Members <%= link_to "Login", new_user_session_path , class: "btn btn-primary btn-md" %><h4>
      </p>
   <% end %> 
</div>
